:root {
    --background-1: #0a0a0a;
    --background-2: #1b1b1b;
    --white-gray: #fafafa;
    --white-hover: #ffffff;
  }
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--background-1);
    font-family: Arial, Helvetica, sans-serif;
}
#box{
    background-color: var(--background-2);
    width: 500px;
    height: 500px;
    margin: 0 auto;
    color: white;
    border-radius: 10px;
    padding: 1em;
    text-align: center;
}
input{
    width: 60%;
    padding: .6em;
    border-radius: 10px;
    margin-top: 1rem;
}

button{
    display: block;
    margin: 1rem auto;
    padding: .5rem 1.5rem;
    border-radius: 10px;
}
#output{
   margin: 1rem;
   font-size: 2rem;
}
.orange{
    color: orange;
}
